body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: hsla(0, 0%, 100%, 0.968);
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.food-item {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.food-item img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.veg{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: fantasy;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}
.veg::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to 
    right,#0fd850 0%,#f9f047 100%);
    transition: 1s ease;
    display: block;
    z-index: -1;
}
.veg:hover::before{
    width: 9em;

}


.non{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: fantasy;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}
.non::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to 
    right,#0fd850 0%,#f9f047 100%);
    transition: 1s ease;
    display: block;
    z-index: -1;
}
.non:hover::before{
    width: 9em;
}
.full{
    height: 100px;
    width: 300px;
    text-align: center;
    border: none;
}
.centre1{
    
        display: flex;
        justify-content: center;
        align-items: center;   
}
.kela{
    height: 100px;
    width: 300px;
    text-align: center;
    border: none;
}
.back{
    background-image: url(food.jpg);
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.7;
}

